.item_card {
  width: 17vw;
  height: 60vh;
  border: 0.5px solid grey;
  background-color: whitesmoke;
  border-radius: 5px;
}

.item_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border-bottom: 0.5px solid grey;
  width: 100%;
  height: 55%;
  border-radius: 5px 5px 0 0;
}

.item_img img {
  width: 90%;
  height: 90%;
  mix-blend-mode: color-burn;
}

.item_content {
  height: 45%;
  width: 100%;
  /* background-color: aqua; */
}

.item_name {
  border: 2px solid red;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  /* margin: 0 8px; */
  font-size: large;
  letter-spacing: -1;
  font-weight: 300;
}
